<div class="app-container">
  <dx-toolbar [items]="toolbarItems" class="app-toolbar"></dx-toolbar>
  
  <dx-drawer
    [(opened)]="drawerOpened"
    [closeOnOutsideClick]="false"
    position="left"
    [revealMode]="'slide'"
    [shading]="false"
    class="app-drawer"
    template="menu">
    
    <div *dxTemplate="let data of 'menu'">
      <dx-tree-view
        [items]="menuItems"
        keyExpr="id"
        displayExpr="text"
        [selectByClick]="true"
        selectionMode="single"
        (onItemClick)="onMenuItemClick($event)">
        <div *dxTemplate="let item of 'item'">
          <i class="dx-icon dx-icon-{{item.icon}}"></i>
          <span>{{item.text}}</span>
        </div>
      </dx-tree-view>
    </div>
    
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </dx-drawer>
</div>