<mat-toolbar class="topbar" *ngIf="authService.isAuthenticated()">
    <span class="spacer"></span>

    <div class="topbar-right">
        <button mat-icon-button class="user-btn" [matMenuTriggerFor]="userMenu">
            <div class="user-avatar">
                <mat-icon>person</mat-icon>
            </div>
        </button>
        <span class="username">{{ displayName }}</span>
    </div>

    <mat-menu #userMenu="matMenu" class="user-menu">
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Đăng xuất</span>
        </button>
    </mat-menu>
</mat-toolbar>
